* {
	font-family: sans-serif;
}
body {
	margin: auto;
	max-width: 800px;
}
h1 {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 2em;
	margin: 0 0 20px 0;
	padding: 20px;
	background: #5ad;
	box-shadow: 2px 2px 15px #999;
}
.post-form {
	background: #fd4;
	padding: 20px 0;
	margin: 20px 0;
	box-shadow: 2px 2px 10px #ccc;
	position: relative;
}
.post-form p {
	margin: 15px 0;
}
.post-form input {
	display: inline-block;
	width: 50%;
	position: relative;
	left: 2%;
}
.post-form input[type="submit"] {
	width: 30%;
	left: 35%;
}
.post-form textarea {
	display: block;
	margin: 10px 5%;
	width: 90%;
	min-height: 200px;
}
.label {
	display: inline-block;
	width: 23%;
	position: relative;
	left: 0;
	text-align: right;
}
.menu {
	margin: 30px 0 20px;
	height: 35px;
}
a {
	margin-right: 8px;
	font-weight: bold;
	color: #fff;
	padding: 8px;
	background: #5df;
	box-shadow: 2px 2px 10px #ccc;
	text-decoration: none;
}
a:hover {
	padding: 10px;
}
.nav {
	float: left;
}
.nav a {
	background: #49a;
	font-size: 1.1em;
}
.sort {
	float: right;
	text-align: right;
}
a.active {
	color: #fd4;
	padding: 10px;
	background: #5ad;
	box-shadow: 2px 2px 15px #999;
}
a.dir {
	background: #49a;
}
a.active.dir {
	background: #379;
}
.error {
	color : red;
	font-size: 0.8em;
	display: inline-block;
	width: 20%;
	position: relative;
	left: 5%;
}
.list {
	margin: 20px 0;
	width: 100%;
}
table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 8px;
}
tr {
	box-shadow: 2px 2px 10px #ccc;
}
td {
	padding: 8px;
	vertical-align: top;
}
.list td:first-child {
	background: #49a;
	color: #fff;
	width: 30%;
}
.list td:nth-child(2) {
	background: #fd4;
	font-size: 0.9em;
}
.date {
	color: #eee;
	font-size: 0.6em;
}
.name {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 1.5em;
}
.email {
	color: #fff;
	font-size: 0.9em;
}
.email small {
	color: #eee;
	font-size: 0.8em;
}
a.footer {
	background: none;
	color: #049;
	margin-top: 40px;
}